body {
    height: 100vh;
    background-color: #f4f4f4;
}
.form-container {
    width: 30%; /* Set form width to 30% */
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.form-container h2 {
    margin-bottom: 20px;
}
.form-container span {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: lightgrey;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: darkgray;
}

h1 {
    width: 30%;
    text-align: center;
    color: darkblue;
}

table {
    border-collapse: collapse;
    width: 30%;
    text-align: center;
    margin: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
}

th {
    background-color: lightgrey;
}